* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
  font-family: Arial, Helvetica, sans-serif;
}

/* Colors */

:root {
  --bs-btn-red: #cd3d0f;
  --bs-sony-blue: #2d64e6;
  --bs-btn-grey: #363636;
  --bs-btn-white: #d9dadc;
  --bs-bg-black: #000000;
  --bs-bg-dark-grey: #1f1f1f;
  --bs-bg-light-grey: #bebcbb;
  --bs-bg-dark-blue: #161c3b;
  --bs-bg-footer: #00439c;
  --bs-grey-text: #727272;
}

/* Header */

header {
  position: fixed;
  top: 0;
  right: 0;
  left: 0;
  z-index: 1;
}

.header-top {
  background-color: var(--bs-bg-black);
}

.header-bottom {
  background-color: white;
  font-weight: bold;
}

#sony-logo {
  width: 100px;
  height: auto;
}

.lens {
  height: 20px;
}

.btn-secondary.accedi {
  background-color: var(--bs-btn-grey);
}

/* Main */

/* Jumbotron Returnal */

#jumbotron-returnal {
  height: 675px;
  margin-top: 110px;
  position: relative;
  color: white;
  background-position: center;
  background-size: cover;
  background-image: url(../img/jumbo-bg.png);
}

.hero {
  width: 80%;
}

.btn-secondary.acquista {
  background-color: var(--bs-btn-red);
}

/* Thumbs */

#Thumbs {
  color: white;
  padding-left: 0;
  padding-top: 20px;
  padding-bottom: 20px;
}

.rounded-5 {
  border-radius: 1rem;
}

#Thumbs .active {
  border: 2px solid #509edd;
  border-radius: 1rem;
  padding: 2px;
}
